# macOS
.DS_Store
.AppleDouble
.LSOverride

# KiCad
pcb/**/*-backups/
pcb/**/*.000
pcb/**/*.bak
pcb/**/fp-info-cache
pcb/**/_autosave-*
pcb/**/*.kicad_prl
pcb/**/*.lck
pcb/**/.history

/sdkconfig
/sdkconfig.old
build/
managed_components/


