menu "Core System Configuration"

    config CORE_SYSTEM_WIFI_SSID
        string "WiFi SSID"
        default ""
        help
            接続先WiFiアクセスポイントのSSID。

    config CORE_SYSTEM_WIFI_PASSWORD
        string "WiFi Password"
        default ""
        help
            接続先WiFiアクセスポイントのパスワード。

    config CORE_SYSTEM_WEBSOCKET_URI
        string "WebSocket URI"
        default "ws://192.168.100.1:8080"
        help
            接続先WebSocketサーバーのURI。


endmenu
